/* importacio de Fonts de Google */
@import url("https://fonts.googleapis.com/css?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
/* Creamos Variable de colores para nuetro css */
* {
  font-family: "Schoolbell", cursive;
}

:root {
  --color-1: #790d31;
  --color-1-0: #d61354;
  /* cuando los colores tienen estos nombres quiere decir que es color pero mas claro */
  --color-2: #dd6e42;
  --color-3: #f94a29;
  --color-2-0: #dd6e4295;
  --color-3-0: #f94a2995;
  --color-4: #fce22a;
  --color-5: #bee7e8;
  --color-6: #30e3df;
  --color-7: #000000;
  --color-8: #a9a9a9;
  --color-9: #d2b48c;
  --color-10: #c0c0c0;
  --color-11: #ffd700;
  --color-12: #d3d3d3;
  --color-13: #ffffff;
  --color-14: #87ceeb;
  --color-15: #00ced1;
  --color-16: #00ff7f;
  --color-17: #7fff00;
  --color-18: #ffe5b4;
  --color-19: #ff69b4;
  --color-20: #800080;
  --color-21: #ffa500;
  --color-22: #ff0000;
  --color-23: #ffff00;
  --color-24: #00ff00;
  --color-25: #0000ff;
  --color-26: #e6e6fa;
  --color-principal: #abddc4;
}

body {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 10% 10% 70% 10%;
  grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
  justify-content: center;
  background-color: #e8f5fb;
  text-align: center;
  border-radius: 3%;
}

header {
  grid-area: header;
  background-image: url(../../img/header.jpg);
  border-radius: 3px;
  border-color: var(--color-13);
  padding: 1%;
}

header:hover {
  border-color: var(--color-26);
}

nav {
  grid-area: nav;
  text-align: center;
}

button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--color-8);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color:var(--color-principal);
  color:#000000;
}

/* */

section {
  grid-area: section;
  text-align: center;
  grid-auto-flow: column;
}

footer {
  grid-area: footer;
  background-image: url(../../img/header.jpg);
  justify-content: center;
}

footer:hover {
  border-color: var(--color-26);
}
footer li {
  margin-right: 8%;
  margin-left: 8%;
}

footer ul li a {
  text-decoration: none;
}