:root {
    --color-1: #790d31;
    --color-1-0: #d61354; /* cuando los colores tienen estos nombres quiere decir que es clor pero mas claro */
    --color-2: #DD6E42;
    --color-3: #F94A29;
    --color-2-0: #DD6E4295;
    --color-3-0: #F94A2995;
    --color-4: #FCE22A;
    --color-5: #BEE7E8;
    --color-6: #30E3DF;
    --color-7: #000000;
    --color-8: #A9A9A9;
    --color-9: #D2B48C;
    --color-10: #C0C0C0;
    --color-11: #FFD700;
    --color-12: #D3D3D3;
    --color-13: #FFFFFF;
    --color-14: #87CEEB;
    --color-15: #00CED1;
    --color-16: #00FF7F;
    --color-17: #7FFF00;
    --color-18: #FFE5B4;
    --color-19: #FF69B4;
    --color-20: #800080;
    --color-21: #FFA500;
    --color-22: #FF0000;
    --color-23: #FFFF00;
    --color-24: #00FF00;
    --color-25: #0000FF;
    --color-26: #E6E6FA;
    --color-principal: #abddc4;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 10% 80% 5%;
    justify-content: space-around;
    grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
    background-image: url('img/body.jpg');
    background-size:auto;
    border-radius: 10px;
    align-content: space-evenly;
}

header {
    grid-area: header;
    text-align: center;
    background-color: var(--color-principal);
    margin: 0%;
    border-radius: 8px;
    border-color: #00CED1;
    border-style: groove;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.9;
}

section{
    grid-area: section;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-content: space-between;
    grid-template-areas:
    "section1 section2";
    border-color: #000000;
    border-radius: 3px;
    margin: auto;
    align-content: space-evenly;
}

.section1{
    grid-area: section1;
    border-radius: 3px;
    margin: 5%;
}

.section2{
    grid-area: section2;
    background-color: var(--color-principal);
    opacity: 0.9;
    border-radius: 3px;
    border-color: #00CED1;
    border-style: groove;
    font-size: 100%;
    text-align: center;
    margin: 5%;
}

.JuegoTres{
    margin: 5%;
}

nav {
    grid-area: nav;
    text-align: center;
    background-color: var(--color-principal);
    padding: 1%;
    margin: 2%;
    border-radius: 3px;
    border-color: #00CED1;
    border-style: groove;
    opacity: 0.9;
}





button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--color-8);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color:var(--color-principal);
  color:#000000;
}

@keyframes cambia-opacidad {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

footer {
    grid-area: footer;
    background-color: var(--color-principal);
    color: white;
    box-shadow: auto rgba(0, 0, 0, 0.3);
    border: auto solid #7a7777;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "div-boton1 div-boton2 div-boton3";
    width: 100%;
    height: auto;
    border-color: #00CED1;
    border-style: groove;
    opacity: 0.9;
    }
    
    footer .div-boton1{
    grid-area: div-boton1;
    padding: auto;
    margin: auto;
    }
    footer .div-boton2{
    grid-area: div-boton2;
    padding: auto;
    margin: auto;
    }
    footer .div-boton3{
    grid-area: div-boton3;
    padding: auto;
    margin: auto;
    }