

/* Estahoja de Estilo es unicamente para el recibo*/

.recibo {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    max-width: 700px;
  }
  
  .recibo h1, .recibo h2 {
    text-align: center;
  }
  
  .recibo caption {
    margin-bottom: 10px;
  }
  
  .recibo hr {
    border: none;
    border-top: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .recibo table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .recibo th, .recibo td {
    padding: 5px;
    text-align: center;
  }
  
  .recibo thead th {
    background-color: #ddd;
  }
  
  .recibo tbody td:first-child, .recibo tbody th:first-child {
    text-align: left;
  }
  
  .recibo tfoot th {
    background-color: #ddd;
  }
  
  .recibo tfoot td {
    font-weight: bold;
  }
  
  .recibo tfoot td:last-child {
    text-align: right;
  }
  
  .recibo #fecha-hora {
    font-weight: bold;
  }
  
  .recibo #receipt {
    display: inline-block;
    margin: 0 auto;
  }
  